* {
    box-sizing: border-box;
}

.bio {
    display: flex;
    flex-wrap: wrap;
}

.blackhole {
    background-image: url("/images/blackhole.gif");
    background-position: center;
    background-size: cover;
}

.content-container {
    border-right: 1px solid white;
    padding-right: 4rem;
}

.lead {
    font-weight: 300;
    font-size: 1.25rem;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 0;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    list-style-type: disc;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
}

.social-icons li {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    width: 30%;
}

.name {
    display: flex;
    justify-content: center;
    font-weight: 300;
}

.job-titles {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-around;
    font-weight: 300;
    font-size: 2.5rem;
}

.job-titles h2 {
    font-weight: 300;
}

.lead-ins {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}

.lead-in {
    width: 30%;
    border: 1px solid grey;
    margin-bottom: 60px;
    padding: 20px;
}

.lead-in-img {
    width: 100%;
}

.lead-in-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    word-wrap: break-word;
}

.lead-in-date {
    margin-bottom: 50px;
    font-style: italic;
    margin-top: 0;
}

.lead-in-title {
    margin-bottom: 0;
}

.button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #4b555e;
    border-color: #6c757d;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
}

.projects-heading {
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: calc(1.375rem + 1.5vw);
}

.post {
    padding-bottom: 100px;
    padding-top: 100px;
    border-bottom: 1px solid white;
}

.post-content {
    display: flex;
    justify-content: space-between;
}

.post-title {
    font-size: calc(1.525rem + 3.3vw);
    font-weight: 300;
    line-height: 1.2;
    padding-bottom: 30px;
}

.post-image-container {
    width: 40%;
}

.post-image-container img {
    max-width: 100%;
    height: auto;
}

.post-description {
    width: 55%;
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    opacity: 1;
    background-color: #f8f9fa;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

}

.text-footer a {
    text-decoration: none;
    color: #0d6efd;
}

#main {
    background-color: black;
    padding-bottom: 121px;
    padding-top: 100px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

h1, h2, h3, h4, .titles {
    font-family: 'Raleway', sans-serif;
}

nav {
    z-index: 10000;
    position: fixed !important;
    width: 100%;
    top: 0;
}

section {
    padding-bottom: 100px;
    padding-top: 100px;
    border-bottom: 1px solid white;
}

section h1 {
    padding-bottom: 30px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

p a {
    color: #0d6efd;
    text-decoration: underline;
}

p a:hover, li a:hover {
    color: #0a58ca;
}

.main-container {
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
}


#resume .button {
    display: flex;
    justify-content: center;
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 50px;
}

.navbar{
    background-color: #f8f9fa;
    display: flex;
    min-height: 50px;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    justify-content: left;
}

.navbar a{
  color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}

.navbar .social-icons,.navbar .nav-links{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.navbar .social-icons li,.navbar .nav-links  li {
    display: flex;
    list-style-type: none;
    padding: 10px;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    width: 10%;
}

.navbar-and-social {
    display: flex;
    width: 90%;

}

nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}


@media (min-width: 1100px) {
    .summary {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .blackhole {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .do-not-display-large {
        display: none;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.5rem;
    }
}

@media (max-width: 1100px) {
    .do-not-display-small {
        display: none!important;
    }

    .navbar-brand{
        width: 100%;
    }

    .navbar-and-social{
        width: 100%;
    }

    .job-titles {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 3vw;
    }

    .lead-ins {
        display: flex;
        flex-direction: column;
    }

    .lead-in {
        width: 100%;
    }

    .lead-in-img {
        width: 100%
    }

    .post-content {
        display: flex;
        flex-direction: column;
    }

    .post-image-container {
        margin-bottom: 30px;
        width: 100%;
    }

    .post-description {
        width: 100%;
    }

    p {
        font-size: 4vw;
    }

    a {
        font-size: 4vw;
    }

    a .fab {
        font-size: 80px;
    }

    .navbar-toggler-icon {
        width: 3.5em;
        height: 3.5em;
    }

    .navbar-brand {
        font-size: 50px;
    }

    footer .footer-text {
        display: block;
    }

    ul li {
        font-size: 4vw;
    }

    h3 {
        font-size: 5vw;
    }

    h4 {
        font-size: 4vw;
    }

    h2 {
        font-size: 6vw;
    }

    h1 {
        font-size: 7vw;
    }

    .button {
        font-size: 5vw;
        padding: 15px;
    }

}
